# 빌드 산출물
bin/
obj/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
[Bb]uild/
[Pp]ublish/
TestResults/

# Visual Studio / VS Code
.vs/
*.user
*.suo
*.code-workspace

# ReSharper / Rider
_ReSharper*/
*.DotSettings.user
.idea/

# NuGet
packages/
*.nupkg
*.snupkg

# 기타 임시/캐시/로그
*.log
*.tmp
*.cache
*.ilk
*.pdb
*.opendb
*.VC.db
*.db